<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Silent Auction</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="../static/css/bootstrap.css" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Silent Auction</a>
                <ul class="nav">
                    <li class="active">
                        <a href="/auctions/create">Create Auction</a>
                    </li>
                </ul>
            </div>
        </div>
        {% block content %}{% endblock %}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../static/js/bootstrap.js"></script>
    </body>
</html>