{% extends "base.html" %}
{% block title %} Auctions {% endblock %}
{% block content %}
        <div class="container">
            {% if message %}
            <div class="alert alert-success">  
                <a class="close" data-dismiss="alert">×</a>  
                <strong>Success!</strong> {{message}}  
            </div> 
            {% endif %}
            <form action="" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Create An Auction</legend>
                    <div class="row">
                        <div class="span2">
                            <label>Description</label>
                        </div>
                        <div class="span2 offset1">
                            <label>BitCoin Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span2">
                            <input type="text" name="name" placeholder="An auction for what?">
                        </div>
                        <div class="span2 offset1">
                            <input type="text" name="account" placeholder="For delivering auction result">
                        </div>
                    </div>
                    <div class="row">
                        <div class="span2">
                            <label>Starting Bid</label>
                        </div>
                        <div class="span2 offset1">
                            <label>Max Bid</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span2">
                            <input name="startingBid" type="text" placeholder="In Bitcoin">
                        </div>
                        <div class="span2 offset1">
                            <input name="maxBid" type="text" placeholder="In Bitcoin">
                        </div>
                    </div>
                    <div class="row">
                        <div class="span2">
                            <label>Description</label>
                        </div>
                        <div class="span2 offset1">
                            <label>Image</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span2">
                            <textarea name="description" placeholder="What is it?"></textarea>
                        </div>
                        <div class="span2 offset1">
                            <input type="file" name="image" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
{% endblock %}
