<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Silent Auction</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="../static/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Silent Auction</a>
                <ul class="nav">
                    <li class="active">
                        <a href="/auctions/create">Create Auction</a>
                    </li>
                </ul>
            </div>
        </div>
        <h1>Silent Auction</h1>
        <div class="row show-grid">
            <div class="span6">
                
            </div>
            <div class="span6">
                
            </div>
        </div>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../static/js/bootstrap.js"></script>
    </body>
</html>