{% extends "base.html" %}
{% block title %} Auctions {% endblock %}
{% block head %}
h1 {
    text-align: center;
    text-decoration: underline;
}

.span5 {
    text-align: center;
}
{% endblock %}
{% block content %}
        <div class="container">
            <h1>Live Auctions</h1>
            {% for auction in auctions %}
            {% if loop.index % 2 == 1 %}
            <div class="row show-grid">
                <div class="span5">
                    <a href="/auctions/{{ auction.auction_id }}">
                    <h3>{{ auction.name }}</h3>
                    {% if auction.picture_filename %}
                    <img src="/user_images/{{ auction.picture_filename }}" height="500" width="500">
                    {% endif %}
                    </a>
                    <br>
                    {{ auction.description }}
                </div>
            {% if loop.last %}
            </div>
            {% endif %}
            {% else %}
                <div class="span5 offset2">
                    <a href="/auctions/{{ auction.auction_id }}">
                    <h3>{{ auction.name }}</h3>
                    {% if auction.picture_filename %}
                    <img src="/user_images/{{ auction.picture_filename }}" height="250" width="250">
                    {% endif %}
                    </a>
                    <br>
                    {{ auction.description }}
                </div>
            </div>
            {% endif %}
            <br><br>
            {% endfor %}
        </div>
{% endblock %}